version: '3.8'

services:
  backend:
    build: ./backend
    container_name: nest-backend
    ports:
      - "3000:3000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: angular-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    restart: unless-stopped
