.form-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.form-card {
  width: 450px;
  padding: 2rem;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
