.spacer {
  flex: 1 1 auto;
}

.users-card {
  margin: 2rem;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

table {
  width: 100%;
}
